ion-content ion-toolbar {
  --background: translucent;
}

ion-img{
  object-fit: resize !important;
  height: 120px;
  // width: 100px;
// padding: 5px 20px 0px;
  
}

ion-card{
  // margin-bottom: 1.2em;
  // margin-top: 2em;
  border-radius: 10px;
  text-align: left;
  // width: 100%;
  // margin-left: 1em;
  // margin-right: 1em;
}

