<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      COVID-19
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">COVID-19</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- TOP slide of info cards -->
  <ion-slides [options]="sliderconfig">

    <ion-slide>
      <ion-card color="warning" style="width: 100%;" mode="md">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-img src="./assets/mask.svg"></ion-img>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-card-header>
                  <ion-card-subtitle>Global</ion-card-subtitle>
                  <ion-card-title>Confirmed</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <h1>{{info?.cases | number}}</h1>
                </ion-card-content>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color="success" style="width: 100%;" mode="md">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-img src="./assets/heart.svg"></ion-img>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-card-header>
                  <ion-card-subtitle>Global</ion-card-subtitle>
                  <ion-card-title>Recovered</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <h1>{{info?.recovered | number}}</h1>
                </ion-card-content>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card color="danger" style="width: 100%;" mode="md">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                <ion-img  src="./assets/tombstone.svg"></ion-img>
              </div>
            </ion-col>
            <ion-col>
              <div>
                <ion-card-header>
                  <ion-card-subtitle>Global</ion-card-subtitle>
                  <ion-card-title>Deaths</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <h1>{{info?.deaths | number}}</h1>
                </ion-card-content>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-slide>

  </ion-slides>

  <ion-card style="margin-left: 1rem; margin-right: 1rem; margin-top: 2rem;">
    <ion-card-content>
      <canvas baseChart
    [data]="doughnutChartData"
    [labels]="doughnutChartLabels"
    [chartType]="doughnutChartType"
    [colors]="doughnutColors"
    [options]="doughnutChartOptions">
      
    </canvas>
    <br>
    Tap for more info. <br>
    Data source: JHU [https://systems.jhu.edu/]
    </ion-card-content>
    
  </ion-card>

  <ion-list *ngIf="information" lines="none" style="margin-top: 1rem; margin-bottom: 2rem;">
    <ion-item button [routerLink]="['/','tabs','tab2',information.country]" detail="true">
      <ion-label style="text-align: center;">
        <h1>{{information.country}}</h1>
        
        <p style="margin-top: 10px;">
          <span style="color: #FFD534;"> <b>Cases:</b> {{information.cases | number}} </span> &nbsp; &nbsp;
          <span style="color: #2FDF75;"> <b>Recovered:</b> {{information.recovered | number}} </span> &nbsp; &nbsp;
          <span style="color: #FF4961;"> <b> Deaths:</b>  {{information.deaths | number}}</span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
