ion-content ion-toolbar {
  --background: translucent;
}

ion-img{
  object-fit: resize;
  // height: 50%;
  width: 100% !important;
padding: 5px 20px 0px;
  
}

ion-card{
  margin-bottom: 1.2em;
  // margin-top: 2em;
  border-radius: 10px;
  margin-left: 1em;
  margin-right: 1em;
}