<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>
      <p>Information from www.worldometers.info <br> Inspired by javieraviles</p>
      <div style="font-size: 8px;">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </ion-label>
  </ion-item>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <ion-img src="https://picsum.photos/200/300"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>Author: &nbsp; Noel Johnson Varghese</h2>
        <p></p>
        <ion-card-subtitle>Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;email.com</ion-card-subtitle>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer style="padding-bottom: 7px;">
    <ion-label class="made"> <h4>Made with <ion-icon class="heart" name="heart"></ion-icon> in India</h4></ion-label>
</ion-footer>
