<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{information?.country}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="information">
  <ion-card style="margin-top: 2rem; margin-left: 1rem; margin-right: 1rem;"> 
    <ion-card-content>
      <h4 style="color: #fff; font-size: 1.25rem;"><b>Today: {{information.todayCases}}</b></h4>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="information" mode="md" style="margin-left: 1rem; margin-right: 1rem; margin-top: 1rem;">
    <ion-card-content style="text-align: center;">
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="information?.cases">
            <span style="color: #FFD534; font-size: 1rem;">{{information.cases | number}} <br>  <b>Cases</b>  </span> 
          </ion-col>
          <ion-col *ngIf="information?.recovered">
            <span style="color: #2FDF75; font-size: 1rem;">{{information.recovered | number}} <br> <b> Recovered</b>  </span>     
            </ion-col>
          <ion-col *ngIf="information?.deaths">
            <span style="color: #FF4961; font-size: 1rem;">{{information.deaths | number}}  <br> <b>Deaths</b> </span>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content> 
  </ion-card>


</ion-content>
