<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab2"></ion-back-button>
    </ion-buttons>
    <ion-title>{{information?.country}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card style="margin-top: 1rem; margin-left: 1rem; margin-right: 1rem;" class="chart">
    <ion-card-content>
      <h4 style="color: #fff; font-size: 1.25rem;"><b>Today: {{information?.todayCases}}</b></h4>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="information" mode="md" [(ngModel)]="contentData" ngDefaultControl
    style="margin-left: 1rem; margin-right: 1rem; margin-top: 1rem;" class="chart">
    <ion-card-content style="text-align: center;">
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="information?.cases">
            <span style="color: #FFD534; font-size: 1rem;">{{information.cases | number}} <br> <b>Cases</b> </span>
          </ion-col>
          <ion-col *ngIf="information?.recovered">
            <span style="color: #2FDF75; font-size: 1rem;">{{information.recovered | number}} <br> <b> Recovered</b>
            </span>
          </ion-col>
          <ion-col *ngIf="information?.deaths">
            <span style="color: #FF4961; font-size: 1rem;">{{information.deaths | number}} <br> <b>Deaths</b> </span>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

  <ion-card style="margin-top: 1rem;" *ngIf="contentData" class="chart">
    <ion-card-content>
      <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
        [colors]="doughnutColors" [options]="doughnutChartOptions">

      </canvas>
      <br>
      Tap for more info. <br>
      Data source: JHU [https://systems.jhu.edu/]
    </ion-card-content>

  </ion-card>

  <!-- For Details -->
  <ion-list lines="none" *ngIf="contentData" class="chart">
    <ion-item>
      <ion-label>Show Details</ion-label>
      <ion-toggle [(ngModel)]="showDetails"></ion-toggle>
    </ion-item>
  </ion-list>

  <!-- Line Chart Details -->
  <ion-card *ngIf="showDetails" class="details">
    <ion-card-content style="text-align: center;">
      <canvas baseChart [data]="lineCasesData" [labels]="lineLabel" [chartType]="Type" [colors]="lineCasesColors"
        [options]="lineChartOptions">
      </canvas>
      Cases(30days)
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showDetails" class="details">
    <ion-card-content style="text-align: center;">
      <canvas baseChart [data]="lineDeathsData" [labels]="lineLabel" [chartType]="Type" [colors]="lineDeathsColors"
        [options]="lineChartOptions">
      </canvas>
      Deaths(30days)
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="showDetails" class="details">
    <ion-card-content style="text-align: center;">
      <canvas baseChart [data]="lineRecoveredData" [labels]="lineLabel" [chartType]="Type"
        [colors]="lineRecoveredColors" [options]="lineChartOptions">
      </canvas>
      Recovered(30days)
    </ion-card-content>
  </ion-card>

  <!-- Show States -->
  <ion-list lines="none" *ngIf="information?.country=='India'||information?.country=='USA'" class="chart">
    <ion-item>
      <ion-label>Show States</ion-label>
      <ion-toggle [(ngModel)]="showStates"></ion-toggle>
    </ion-item>
  </ion-list>

<div *ngIf="showStates">
  <ion-list *ngFor="let state of statesData " >
    <ion-item *ngIf="state.state!='Total'">
      <ion-label>
        <h1>{{state?.state}}</h1>
        <p></p>
        <p></p>
        <p>
          <span *ngIf="state?.confirmed" style="color: #FFD534;"> <b>Cases:</b> {{state.confirmed | number}}<br> </span>
          <span *ngIf="state?.cases" style="color: #FFD534;"> <b>Cases:</b> {{state.cases | number}}<br> </span>
          <span *ngIf="state.recovered" style="color: #2FDF75;"> <b>Recovered:</b> {{state.recovered | number}}
            <br> </span>
          <span *ngIf="state?.deaths" style="color: #FF4961;"> <b> Deaths:</b> {{state.deaths | number}} <br></span>
            <span *ngIf="state?.lastupdatedtime">Last updated: {{state.lastupdatedtime}}</span>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>
  

</ion-content>